<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class= "create-anime content">
            <form action="/anime" method="POST">
                <label for="title">Anime title:</label>
                <input type="text" id="title" name="title" required>
                <label for="type">Anime type:</label>
                <select id="type" name="type" required>
                <option value="" selected disabled>Select type</option>
                <option value="Movie">Movie</option>
                <option value="Serial">Serial</option>
                </select>
                <label for="genres">Anime genres:</label>
                <input id="genres" required name="genres">
                <label for="rating">Anime rating:</label>
                <select id="rating" name="rating" required>
                    <option value="" selected disabled>Select type</option>
                    <option value="1">1-> I don't want to see this again</option>
                    <option value="2">2-> Very Bad </option>
                    <option value="3">3-> Bad </option>
                    <option value="4">4-> Boring </option>
                    <option value="5">5-> Not for me </option>
                    <option value="6">6-> Meh </option>
                    <option value="7">7-> Needs improvements </option>
                    <option value="8">8-> Good </option>
                    <option value="9">9-> Very Good </option>
                    <option value="10">10-> Awesone </option>
                    </select>
                <label for="description">Anime description:</label>
                <textarea id="description" name="description" required></textarea>
                <button>Submit</button>
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html> 