<nav>
    <div class="site-titile">
        <a href="/"><h1>My Anime List</h1></a>
        <p> A Anime Site</p>
    </div>
    <ul>
        <li><a href="/">Anime</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/anime/create">New Anime</a></li>
    </ul>
</nav>